/.config
/*.sln 
/obj
.idea
.vscode/
.DS_Store
bin
.vs/
PublishedFileId.txt
Folder.DotSettings.user
Directory.Build.props
*.sh
auto_push_github.ps1

## Interaction bubble library
Libs/Bubbles.dll
!Libs/Bubbles.sh